Flask
Flask-CORS
requests
numpy
opencv-python-headless  # أو opencv-python إذا كنت تحتاج للواجهة الرسومية أيضاً
Pillow
arabic_reshaper
python-bidi
shapely
# أضف أي مكتبات أخرى يستخدمها text_formatter.py إذا لم تكن مدرجة
